body{
    background-color:rgb(204, 211, 156) ;
    color: rgb(130, 98, 50);
  }
  p{
    font-family: sans-serif;
    color: rgb(38, 45, 145);
  }
  div{
    background-color: rgba(84, 192, 100, 0.625);
    width:200px;
    height:200px;
  }
  span{
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
.section-top{
    background-color: rgb(255, 255, 255);
}
.section-bottom{
    background-color: rgb(8, 41, 81);
}
.welcome-text{
    color: rgb(255, 255, 255);
    font-size: 1px;
    font-family: sans-serif;

}  
/*learning css box model
margin
border
padding */
.box
{
  background-image: url(/assets/temerario01.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  width:300px;
  border: 5px solid red;
  border-style: groove;
  margin: 100px;
  padding: 20px 20px 20px 20px;
}
